body {
	background-color: #dda9f4;
	color: #FFFFFF;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #af79f1;
	color: #FFFFFF;
	padding: 10px;
	text-align: center;
}

main {
	margin: 10px;
}

form {
	margin-bottom: 10px;
}

label {
	display: block;
	margin-bottom: 5px;
}

input {
	border: none;
	border-radius: 5px;
	padding: 5px;
	width: 100%;
}

button {
	background-color: #55179b;
	border: none;
	border-radius: 5px;
	color: #FFFFFF;
	cursor: pointer;
	padding: 5px 10px;
}

button:hover {
	background-color: #7B1FA2;
}

#result {
	background-color: #a22caa;
	border-radius: 5px;
	margin-top: 10px;
	padding: 10px;
	text-align: side;
  
}
